@{
    ViewData["Title"] = "Admin Page";
}
@model IEnumerable<amirProject.Models.Animal>

<head>
    <link type="text/css" rel="stylesheet" href="~/css/admin.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/amirProject.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Admin Page </h1>

        <div>
            <a asp-action="BackToAnimalPage" asp-controller="Animal">Add New Animal</a>

            <div class="ContainList">



                @foreach (var animal in Model)
                {
                    <div class="card">
                        <div class="container">
                            <h4><b>@animal.Name</b></h4>
                            <img class="img" src="@animal.PictureSrc" />
                            <p>@animal.Description</p>

                            <a asp-action="Delete" asp-controller="Admin" asp-route-id="@animal.AnimalId">Delete</a>
                            <a asp-action="EditAnimal" asp-controller="Admin" asp-route-id="@animal.AnimalId">Edit</a>
                        </div>
                    </div>
                }
            </div>
        </div>


        <a asp-action="Index" asp-controller="Animal">Go Back</a>
    </div>
    </div>
</body>


