@{
    ViewData["Title"] = "Add New Animal Page";
}
@model amirProject.Models.Animal

<head>
    <link type="text/css" rel="stylesheet" href="~/css/niv.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/amirProject.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Add New Animal </h1>


        <div class="container-fluid" style="width:350px;">
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm("AddNewAnimal", "Admin", FormMethod.Post))
                    {
                        <div class="form-group">
                            <span style="color:red">animal name should be under 15 letters</span>
                            <br />
                            @Html.LabelFor(model => model.Name, "Name", new { @class = "label" })
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name" })
                        </div>
                        <div class="form-group">

                            <span style="color:red">animal age should be under 120</span>
                            <br />
                            @Html.LabelFor(model => model.Age, " Age", new { @class = "label" })
                            @Html.TextBoxFor(model => model.Age, new { @class = "form-control", @placeholder = "Age", @type = "number" })
                        </div>

                        <div class="form-group">

                            <span style="color:red">animal desc should be under 30 letters</span>
                            <br />
                            @Html.LabelFor(model => model.Description, "Desc", new { @class = "label" })
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Desc" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PictureSrc, "Picture ", new { @class = "label" })
                            @Html.TextBoxFor(model => model.PictureSrc, "", new {  accept = ".jpg, .jpeg, .png, .pdf" })
                        </div>
                        
                        <fieldset>
                            <p class="SearchByCategory"> Category:</p> <select id="categoryId" name="categoryId">

                                <option value="1">Birds</option>

                                <option value="2">Mammals</option>


                                <option value="3">Fishes</option>

                                <option value="4">Amphibians</option>


                                <option value="5">reptiles</option>

                            </select>
                            <input class="submit" type="submit" value="category..." />

                        </fieldset>
                        <input type="submit" class="btn btn-primary " value="Add Animal" />

                    }
                </div>
            </div>
        </div>           


        </div>
</body>


