@{
    ViewData["Title"] = "Animal Page";
}
@model amirProject.Models.Animal

<head>
    <link type="text/css" rel="stylesheet" href="~/css/niv.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/amirProject.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="text-center">
        <h1 style="margin-bottom:70px" class="display-4">@Model.Name Page </h1>

        @using (Html.BeginForm("AddComment", "Animal",new {id=Model.AnimalId} ,FormMethod.Post))
        {
            @Html.TextBox("Comment", null, new { @placeholder = "Add Comment Here",id=Model.AnimalId })
                
            <input type="submit" value="Add Comment" />
        }

        <div>
            <div>
                <div class="card" style="width: 38rem; height:fit-content">
                    <div class="card-body">
                        <h1>@Model.Name Age : @Model.Age</h1>
                        <h1>Desc :</h1><p>@Model.Description</p>
                        <h1>Category Name :</h1><p>@Model.Categories!.Name</p>
                        Comments:
                        @foreach (var c in Model.Comments!)
                        {
                            <p>@c.Content</p>
                        }
                    </div>
                </div>      
            </div>
            <div>
              


            </div>
            <a asp-action="Index" asp-controller="Animal">Go Back</a>
        </div>
    </div>
</body>


